body {
  background-image: url(Accueil.png);
  color: #ffc857;
}

h1 {
  text-align: center;
  margin-top: 0.8em;
  font-size: 4.5em;
}

h1 {
  animation-duration: 1s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

img {
  height: auto;
  width: 10rem;
  margin-top: 8em;
  margin-left: 8em;
}

.logo {
  margin-left: 12em;
}

.container {
  width: 1200px;
  border-radius: 0.5em;
  padding: 20px;
  margin-left: 11em;
  margin-top: -2em;
}

.txt {
  font-size: 1.5em;
  width: 100px;
  padding: 40px;
  margin-left: 4.5em;
  display: inline-block;
  vertical-align: middle;
}
