h1{
    padding-top: 2vh;
    text-align: center;
    font-size: 3em;
   }

img {
    max-width : 20%;
    align-items: center;
}

body {
    margin: 20px;
    display: flex;
    background-color: #e7f0e7;
    flex-direction: column;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
section h2 {
    text-align: center;
}
a {
    background-color: #D9D9D9;
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 35px 25px;
    gap: 20px;
}

@media screen and (max-width:1000px) {

    img {
        flex-wrap: wrap;
    }
    
   }