body {
  background-image: url(Travaux.png);
  color: #ffc857;
}

h1 {
  margin-left: 6.5em;
  font-size: 4em;
  margin-top: 0;
}

h1 {
  animation-duration: 2s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 6.5em;
    width: 100%;
  }
}

img {
  width: 380px;
  height: 480px;
  margin-left: 5.5em;
  transition: transform 0.8s ease-in;
}

img:hover {
  transform: scale(1.5);
}

#txt_prj1 {
  width: 400px;
  position: absolute;
  color: white;
  font-size: 1.6em;
  margin-left: 3.5em;
}

#txt_prj2 {
  width: 400px;
  position: absolute;
  color: white;
  font-size: 1.6em;
  margin-left: 22em;
}

#txt_prj3 {
  width: 400px;
  position: absolute;
  color: white;
  font-size: 1.6em;
  margin-left: 41em;
}

.return {
  color: white;
  font-size: 1.6em;
  margin-left: 3.5em;
  margin-top: 5em;
  position: absolute;
}
